apiVersion: v1
kind: Pod
metadata:
  name: "llm-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
    {{- if .Values.apiKey }}
    ai-services.io/secret: "vllm-secret-{{ .InstanceSlug }}"
    ai-services.io/volume: "vllm-secret-{{ .InstanceSlug }}"
    {{- end }}
spec:
  hostIPC: true
  restartPolicy: always
  volumes:
    - name: models
      hostPath:
        path: "{{ .BaseDir }}/models"
        type: Directory
    - name: dev-kfd
      hostPath:
        path: /dev/kfd
    - name: dev-dri
      hostPath:
        path: /dev/dri
    - name: dshm
      emptyDir:
        medium: Memory
        sizeLimit: 64Gi
    {{- if .Values.apiKey }}
    - name: vllm-secret
      secret:
        secretName: "vllm-secret-{{ .InstanceSlug }}"
    {{- end }}
  containers:
    - name: llm
      image: "{{ .Values.image }}"
      workingDir: /opt/vllm
      securityContext:
        privileged: true
        seccompProfile:
          type: Unconfined
      args:
        - --model
        - /models/{{ .Values.model }}
        - --served-model-name
        - {{ .Values.model }}
        - --tensor-parallel-size
        - "{{ .Values.tensorParallelSize }}"
        - --max-model-len
        - "{{ .Values.maxModelLen }}"
        - --port
        - "8000"
      livenessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 420
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        {{- if .Values.apiKey }}
        - name: VLLM_API_KEY
          value: "$(cat /etc/secret/vllm-secret/apiKey)"
        {{- end }}
        {{- with .env.llm }}
          {{- range $k, $v := . }}
        - name: {{ $k }}
          value: "{{ $v }}"
          {{- end }}
        {{- end }}
      resources:
        requests:
          memory: "150Gi"
        limits:
          memory: "150Gi"
      ports:
        - containerPort: 8000
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/kfd
          name: dev-kfd
        - mountPath: /dev/dri
          name: dev-dri
        - mountPath: /dev/shm
          name: dshm
        {{- if .Values.apiKey }}
        - mountPath: /etc/secret/vllm-secret
          name: vllm-secret
          readOnly: true
        {{- end }}
