apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--vllm-server"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/model1: BAAI/bge-reranker-v2-m3
    ai-services.io/model2: ibm-granite/granite-embedding-278m-multilingual
    ai-services.io/model3: ibm-granite/granite-3.3-8b-instruct
spec:
  hostIPC: true
  volumes:
    - name: models
      hostPath:
        path: "/var/lib/ai-services/models"
        type: Directory
    - name: dev-kfd
      hostPath:
        path: /dev/kfd
    - name: dev-dri
      hostPath:
        path: /dev/dri
    - name: dshm
      emptyDir:
        medium: Memory
        sizeLimit: 64Gi
    - name: dshm2
      emptyDir:
        medium: Memory
        sizeLimit: 64Gi
  containers:
    - name: instruct
      workingDir: /opt/vllm
      image: "{{ .Values.instruct.image }}"
      securityContext:
        privileged: true
        seccompProfile:
          type: Unconfined
      args:
        - --model
        - /models/ibm-granite/granite-3.3-8b-instruct
        - --served-model-name
        - ibm-granite/granite-3.3-8b-instruct
        - --tensor-parallel-size
        - "2"
        - --port
        - "8000"
      livenessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 420
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
      resources:
        requests:
          memory: "150Gi"
        limits:
          memory: "150Gi"
      ports:
        - containerPort: 8000
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/kfd
          name: dev-kfd
        - mountPath: /dev/dri
          name: dev-dri
        - mountPath: /dev/shm
          name: dshm
    - name: embedding
      image: "{{ .Values.embedding.image }}"
      command: ["/bin/sh", "-c"]
      args: [
          "vllm serve /models/ibm-granite/granite-embedding-278m-multilingual --served-model-name ibm-granite/granite-embedding-278m-multilingual --port 8001"
      ]
      livenessProbe:
        httpGet:
          path: /health
          port: 8001
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "4Gi"
        limits:
          memory: "4Gi"
      ports:
        - containerPort: 8001
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
    - name: reranker
      image: "{{ .Values.reranker.image }}"
      command: ["/bin/sh", "-c"]
      args: [
          "vllm serve /models/BAAI/bge-reranker-v2-m3 --served-model-name BAAI/bge-reranker-v2-m3 --port 8002"
      ]
      livenessProbe:
        httpGet:
          path: /health
          port: 8002
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "5Gi"
        limits:
          memory: "5Gi"
      ports:
        - containerPort: 8002
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/shm
          name: dshm2
